# Gradle files
.gradle/
build/

# IDE files
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
local.properties
captures/
.externalNativeBuild/
.cxx/

# Output files
*.apk
*.aar
*.bundle
*.app-bundle

# Keystore files
*.jks
*.keystore
!debug.keystore

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Kotlin
.kotlin/
kotlin-daemon-debug.log

# Other
google-services.json